*{
/*   border: solid 1px black; */
  font-family: 微軟正黑體;
}

body{
  padding: 50px;
  display: flex;
  justify-content: center;
  color: rgba( 237, 237, 237, 0.85);
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  animation: back 8s infinite;
}

.resume{
  display: flex;
  max-width: 950px;
/*   border: solid 4px rgba( 237, 237, 237, 0.85); */
  position: relative;
  border-radius:10px;
  background-color: rgba( 76, 94, 83, 0.85);
  box-shadow:0 20px 20px rgba(0,0,0,.5); 
}

.left, .right{
  padding: 20px;
}

.left{
  flex: 5;
}

.right{
  flex: 5;
  padding-top: 160px;
}

ul{
  padding: 0px;
  list-style: none;
}

a{
  color: rgba( 237, 237, 237, 0.85);
}

h2{
  margin: 0px;
  margin-bottom: 25px;
}

h2::after{
  content:"";
  display: inline-block;
  width: 20px;
  height: 8px;
  background-color: #ed93ae;
  margin-left: 10px;
}

hr{
  background-color: #ed93ae;
  border: 0px;
  height: 5px;
  display: relative;
  margin-left: 0px;
}

h4{
  margin: 0px;
  margin-top: 40px;
}

p{
  text-align: justify;
}

.year li{
  margin-left: 20px;
  border-left: solid 4px rgba( 237, 237, 237, 0.85);
  padding-left: 10px;
}

.decoration{
  width: 280px;
  height: 120px;
  background: linear-gradient(135deg, #ed93ae, #ededed);
  border-radius: 70px 0px 0px 70px;
  position: absolute;
  right: 0px;
  top: 50px;
}

.circle{
  width: 50px;
  height: 50px;
  background-color: rgba( 237, 237, 237, 0.3);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.circle::after{
  content:"";
  display: block;
  background-color: rgba( 76, 94, 83, 0.8);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.p90, .p180, .p270, .p360{
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  background-color: #ed93ae;
}

.test li{
  display: inline-block;
}

.p180{
  left: 50%;
  top: 50%;
}

.p270{
  left: 0;
  top: 50%;
}

.p360{
  left: 0;
  top: 0;
}

.listLicense .bar{
  width: 70%;
  height: 10px;
  border: solid 2px #ed93ae;
  border-radius: 5px;
}

.value{
  height: 100%;
  width: 60%;
  background-color: #ed93ae;
}

.value.p100{
  width: 100%;
}

.value.p70{
  width: 70%;
}

.value.p60{
  width: 60%;
}

.allsnow{
  width: 100%;
  height: 100%;
  border-radius: 0px;
  z-index: -3;
  position: absolute;
  left: 0;
  top: 0;
  @keyframes falling{
    0%,100%{
      opacity: 0;
    }
    70%{
      opacity: 1;
    }
    0%{
      transform: translate(0%, 100px);
    }
    100%{
      transform: translate(100px, 100%);
    }
  }
  [class*='snow']{
    background: linear-gradient(180deg, #b9deed, #efefef);
    width: 3px;
    height: 30px;
    border-radius: 20%;
    animation: falling 10s infinite;
  }
  @for $i from 1 through 100{
    .snow#{$i} {
      $posX: random()*100%;
        $posY: random()*-100%+90%;
        position: absolute;
        left: $posX;
        top: $posY;
        animation-delay: $i *-6.0s;
    }
  }
}

@keyframes falling{
  0%,100%{
    opacity:0;
  }
  70%{
    opacity:1;
  }
  0%{
    transform: translate(0%,-300px);
  }
  100%{
    transform: translate(-0px,80%);
  }
}

@keyframes back{
  0%{
    background-color: #9599E2;
  }
  25%{
    background-color: #BFC5F9;
  }
  50%{
    background-color: #F5BDEE;
  }
  75%{
    background-color: #FFBBEC;
  }
  90%{
    background-color: #8BC6EC;
  }
  100%{
    background-color: #9599E2;
  }
}




